* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* BACKGROUND*/

body {
    height: 100vh; /*Lembrar de colocae em auto*/
    background: black;
    overflow-x: hidden;
    overflow-y: auto;
}

.sky {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle at bottom, #020824, #000);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.2;
    animation: twinkle ease-in-out infinite;
}


@keyframes twinkle {
    0%   { opacity: var(--min); }
    50%  { opacity: var(--max); }
    100% { opacity: var(--min); }
}

.header {
  padding: 20px 80px;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
}

/*LOGO*/

.logo h1 {
  font-size: 21px;
  font-weight: 700;
}

.logo-link {
  display: inline-block;
  position: relative;
}

/*MENU*/

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list a, .logo-link {
    color: #e6e6e6;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.nav-list a.active {
    border-bottom: 2px solid #7aa2ff;
}

.nav-list a:hover, .logo-link:hover {
    color: #c9a14a;
}
.nav-list a {
    position: relative;
}

.nav-list a::after, .logo-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #7aa2ff;
    transition: width 0.3s;
}

.nav-list a:hover::after,
.logo-link:hover::after  {
    width: 100%;
}

nav ul {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 10px;
}

/*HOME*/

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 40px;
}

.home-row {
  width: 90vw;                 /* 🔑 tela inteira */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 280px 80px 100px;              /* respiro real */
}

.home-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-weight: bolder;
    gap: 2px;
}
.home-left h1, .home-left h2 {
    color: #7aa2ff;
    font-size: 150px;
    font-weight: 600;
}

.home-left p {
    color: #b0b0b0;
    font-size: 18px;
}
.home-left h1, .home-left h2, .home-left p{
    line-height: 0.9;
}

.home-left p{
    line-height: 0;
    text-align: left;
    padding-left: 10px;
}

.home-right {
    display: flex;
    flex: 1;
    text-align: right;
    font-weight: bolder;
    max-width: 450px;
    padding: 0;
    gap: 2px;
}

.home-right p{
    color: #b0b0b0;
    font-size: 23px;
    line-height: 1.6;
    text-align: left;

}

/*SCROLL*/

.scroll-container {
  display: flex;
  justify-content: center;
}

.scroll-star-vertical {
    align-self: center;
    transform: translateX(-50%);
    width: 30px;
    height: 90px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.star-vertical {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 70px;
    transform: translateX(-50%);
    background: linear-gradient(
      to bottom,
      rgba(122,162,255,0),
      rgba(122,162,255,1)
    );
    animation: fall 2s ease-in-out infinite;
}

@keyframes fall {
    0% {
      transform: translate(-50%, 0);
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      transform: translate(-50%, 30px);
      opacity: 0;
    }
}

/*SOBRE*/

.about-content {
    padding: 100px;
    display: flex;
    justify-content: flex-start;
}

.about {
    max-width: 800px;
}

.about h2 {
    color: #e6e6e6;
    font-size: 48px;
    margin-bottom: 24px;
}

.about p {
    color: #b0b0b0;
    font-size: 18px;
    line-height: 1.6;
}

/*IMAGEM - SOBRE*/

.about-img img {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #7aa2ff;
  box-shadow: 0 0 20px rgba(122,162,255,0.4);
}
