* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    height: 100vh; /*Lembrar de colocae em auto*/
    background: black;
    overflow: hidden;
}


.sky {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom, #020824, #000);
}


.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.2;
    animation: twinkle ease-in-out infinite;
}


@keyframes twinkle {
    0%   { opacity: var(--min); }
    50%  { opacity: var(--max); }
    100% { opacity: var(--min); }
}