* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* BACKGROUND*/

body {
    height: 100vh; /*Lembrar de colocae em auto*/
    background: black;
    overflow: hidden;
}


.sky {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom, #020824, #000);
}


.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.2;
    animation: twinkle ease-in-out infinite;
}


@keyframes twinkle {
    0%   { opacity: var(--min); }
    50%  { opacity: var(--max); }
    100% { opacity: var(--min); }
}

/*MENU*/

.nav-list a {
    color: #e6e6e6;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.nav-list a:hover {
    color: #7aa2ff;
}

.nav-list a.active {
    border-bottom: 2px solid #7aa2ff;
}

.nav-list a {
    color: #f5f5f5;
}

.nav-list a:hover {
    color: #c9a14a;
}

.nav-list a {
    position: relative;
}

.nav-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #7aa2ff;
    transition: width 0.3s;
}

.nav-list a:hover::after {
    width: 100%;
}

nav ul {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 10px;
}